body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.btn-turquoise {
  background-color: #20c997 !important;
  border-color: #20c997 !important;
  color: white !important;
}

.btn-turquoise:hover {
  background-color: #198754 !important;
  /* Darker teal/green for hover */
  border-color: #198754 !important;
  color: white !important;
}